@use "color" as *;
@use "font" as *;

/*
###################
## フッター検索ボタン ##
###################
*/

#wp-block-search__input-1 {
    border-radius: 5px;
    padding: 12px 24px;
}

.search-submit {
    padding: 12px 24px;
}