@use "color" as *;
@use "font" as *;

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    background-color: #fff;

    @media (max-width: 1023px) {
        padding: 24px;
    }

    @media (max-width: 599px) {
        padding: 16px;
    }

    .main-navigation {
        width: auto;

        @media (max-width: 599px) {
            padding-top: 8px;
        }
    }
}

.site-branding {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 599px) {
    .menu {
        padding: 8px 8px 0;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @media (max-width: 1023px) {
        gap: 16px;
    }
}

.menu-toggle {
    display: none;

    @media (max-width: 599px) {
        display: block;
        padding: 8px 16px;
    }
}