
.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 30px;


    &:nth-child(1) {
        margin-top: 24px;
    }

    @media (max-width: 1023px) {
        width: 100%;
        gap: 8px;
    }
}


.widget-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 24px 40px;
    border-radius: 24px;
    max-width: 440px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 599px) {
        padding: 24px;
    }
    
    .widget_block {
        width: 100%;
        
    }
}

// 投稿メタ情報
.entry-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 8px;

    @media (max-width: 599px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

// 投稿フッター
.entry-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 8px;

    @media (max-width: 599px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

